<footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">
                    AltKart is a blockchain software company that secures digital currency for institutional investors. Its technology solves the most difficult security, compliance and custodial problems associated with blockchain-based currencies, enabling the integration of digital currency into the global financial system. AltKart's customers, which include the world's largest cryptocurrency exchanges and financial institutions, conduct more than $10 billion in transactions monthly.

                    AltKart's global headquarters is located in Palo Alto, California with offices in London, Tokyo and Singapore.
                    
                    
                    </p>


                </div>
                
                <div class="col l3 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="white-text" href="/privacy">Privacy Policy</a></li>
                        <li><a class="white-text" href="/terms">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script>
        $(document).ready(() => {
            M.AutoInit();
        });

        array = <%- JSON.stringify(locals.messages) %>;
        array.forEach(a => {
            M.toast({
                html: "<b>" + a[0] + "</b>",
                classes: a[1]+" rounded"
            });
            <%- removeMessages() %>
        });

    </script>