<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Making Digital Currencies usable for Business</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Altkart</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a class="modal-trigger" href="#modal1">Signup</a></li>
                <li><a class="modal-trigger" href="#modal2">Login</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a class="modal-trigger" href="#modal1">Signup</a></li>
                <li><a class="modal-trigger" href="#modal2">Login</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="modal1" class="modal">
        <form action="/signup" method="POST">
        <div class="modal-content">
            <h4>Signup</h4>    
            <div class="center">
                <div class="input-field">
                    <input type="text" name="fullname" class="validate" />
                    <label for="fullname">Full Name</label>
                </div>
                <div class="input-field">
                    <input type="text" name="email" />
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field">
                    <input type="password" name="password" />
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" name="confirm_password" />
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-close waves-effect waves-green btn-flat">Signup</button>
        </div>
        </form>
    </div>

    <div id="modal2" class="modal">
        <form action="/login" method="POST">
        <div class="modal-content">
            <h4>Login</h4>    
            <div class="center">
                <div class="input-field">
                    <input type="text" name="login_email" />
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field">
                    <input type="password" name="login_password" />
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn-flat" type="submit">Login</button>
        </div>
        </form>
    </div>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Delivering trust in digital currency</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Multi-Signature | Multi-Currency | Institutional Custody</h5>
                </div>
                <div class="row center">
                    <a href="/contactus" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">SECURE</h5>

                        <p class="light">BitGo pioneered multi-signature technology, key recovery solutions, zero confirm transaction services and other safety and usability protocols that have enabled businesses to use digital currencies.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">FUNCTIONAL</h5>

                        <p class="light">BitGo provides a platform and services for payments, processing, treasury management, risk, compliance, logistics, B2B and B2C applications.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">COMPLIANT</h5>

                        <p class="light">BitGo makes digital currency usable in a regulated economy, empowering businesses to work with digital currency easily at scale alongside its other currencies.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">BitGo's software processes over $10 billion in transactions per month</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Multi-Currency Platform</h4>
                    <p class="center light">BitGo’s applications and APIs offer a multi-currency platform, which supports the most widely used digital currencies.</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Trusted by Market Leaders</h4>
                    <p class="light">Market leaders choose BitGo to solve today’s most complex business challenges in the digital currency market</p>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <% include ../../views/footer %>
</body>

</html>