<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Altkart - Making Digital Currencies usable for Business</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Altkart</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>



    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Privacy Policy</h4>
                    <h5 class="left-align light">
                    We collect contact information.<br>
                    As part of the registration process on Altkart.com, we collect your name and email address. We may also collect your address and phone number.
                    <br>
                    We collect identity verification information. 
                    <br>We may collect photo copies of your government-issued ID. We may also collect copies of your utility bills.
                    <br>
                    We collect information from third parties. <br>
                    We may have connections from our website to social media platforms. We may collect name and gender from those platforms. We may also collect information from third parties. This may include information to verify your identity.
                    <br>
                    We collect usage and device information. We may collect information about the browser or device you are using. We may also collect technical information about how you connected to us. This might include your operating system or phone model. We might also collect ISP or mobile carrier information. We also collect IP addresses.</h5>
                </div>
            </div>

        </div>
    </div>


    
    <% include ../../views/footer %>
</body>

</html>