<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Altkart - Making Digital Currencies usable for Business</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Altkart</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>



    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Terms and Conditions</h4>
                    <h5 class="align-left light">
                    Please read these terms and conditions that follow ("Terms") carefully as they form a contract between you and Altkart, Inc. (“Altkart”, “we”, “our” or “us” ). These Terms govern your access and use of our Services. “Services” refers individually and collectively to the Altkart website, Altkart platform, APIs, mobile applications (each, an ““App”), and any software services provided by Altkart, as well as all written or electronic materials including software, data, text, audio, video, images, photos, graphics, or other content (“Content”). These Terms refer to the individual or entity using the Service (including any component of the Service) as “you” or “your”.
<br>
By accepting these Terms electronically (for example, clicking “I Agree”), accessing or using the Services, purchasing Services, registering for an account with us, executing these Terms, or accepting an Order that references these Terms, you are accepting and agreeing to these Terms and the policies and guidelines referenced in these Terms. If you do not agree to these Terms then you may not use the Services.
<br>
We will notify you of amendments to these Terms by either: (a) posting the revised terms on our website; (b) sending you an email notification to the email address that you provided to us as part of your account registration, or a notification via SMS or other messaging service; or (c) presenting the revised Terms to you when you log into the Services. It is your responsibility to provide and update your external email address, check for such notices, and make sure our notices have not been trapped by your spam filter. It is your responsibility to periodically revisit these Terms as posted on our website. The such updated Terms will become effective the earlier of: (a) when you accept it online or offline, (b) twenty (20) days after we post or email the update, in which case your continued use of any of the Services or failure to cancel your account will indicate your acceptance of the amendment.
<br>
THESE TERMS REQUIRE THE USE OF ARBITRATION TO RESOLVE DISPUTES ON AN INDIVIDUAL BASIS, RATHER THAN JURY TRIALS OR ON RESOLUTION BY CLASS ACTION.
</h5>
                </div>
            </div>

        </div>
    </div>


    
    <% include ../../views/footer %>
</body>

</html>